@model IC_ebilet.pl.Models.User

@{
    ViewBag.Title = "Users";
}

@using (Html.BeginForm("Log", "Start", FormMethod.Post))
{
    <input class="btn btn-info" type="submit" value="Dodaj" />
}

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nick</th>
            <th>Passworld</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.usery)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nick</td>
                <td>@item.Password</td>
            </tr>
        }
    </tbody>
</table>

